<v-layout id="opendev" v-if='session.loaded'>
    <v-spacer></v-spacer>
    <v-flex xs12>
        <v-card>
            <v-card-media src="/static/doc-images/cards/desert.jpg" height="200px">
            </v-card-media>
            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">Greetings {{session.user.nick}}.</h3>
                    <div>{{sprint.name}}</div>
                </div>
            </v-card-title>
            <v-card-actions>
                <v-btn flat color="orange">Share</v-btn>
                <v-btn flat color="orange">Explore</v-btn>
            </v-card-actions>
        </v-card>
    </v-flex>
    <v-flex v-if="session.hasWork" xs6>
        <update-time-spent></update-time-spent>
        <blockers></blockers>
        <distractions></distractions>
    </v-flex>
</v-layout>
