.progress-grid {
    display: grid;
    grid-template-columns: 25% auto;
    max-height: 25px;
}

.middle {
    display: grid;
    grid-template-rows: auto;
    padding-top: 2%;
}


.header-row {
    display: grid;
    grid-template-rows: auto;
}

.greeting {
    align-self: right;
}

.summary {
    justify-self: center;
}

.header-column {
    display: grid;
    grid-template-columns: 40% 50% 10%;
    align-content: space-between;
    padding-top: 1%;
}

.task-row {
    padding-left: 8%;
    display: grid;
    grid-template-rows: auto auto;
}

.task {
    width: auto;
    display: grid;
    grid-template-columns: 15% auto;
    justify-self: left;
    word-wrap: true;

}

.task-skill {}

.task-name {
    padding-top: 2%;
}

.skill-cell {
    justify-self: left;
}

.progress-label {
    padding-top: 15px;
}
