.progress-grid {
    display: grid;
    grid-template-columns: 25% auto;
    max-height: 25px;
}

.middle {
    display: grid;
    grid-template-rows: auto;
    padding-top: 2%;
}

.application .theme--dark.v-card {
    padding-bottom: 10px
}

.countdown {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 5px;
    background: #1976d2;
    border: 4px solid #b9bec3;
    color: #b9bec3;
    text-align: center;
    font: 50px Arial, sans-serif;
    font-weight: bold;
}

.days {
    font: 30px Arial, sans-serif;
}

.header-row {
    padding-left: 8%;
    display: grid;
    grid-template-rows: auto;
}

.greeting {
    align-self: right;
}

.summary {
    justify-self: center;
}

.header-column {
    display: grid;
    grid-template-columns: 40% 50% 10%;
    align-content: space-between;
    padding-top: 1%;
}

.task-row {
    display: grid;
    grid-template-rows: auto auto;
}

.task-row-countdown {
    padding-left: 8%;
    display: grid;
    grid-template-rows: auto auto;
}


.task {
    width: auto;
    display: grid;
    grid-template-columns: 15% auto;
    justify-self: left;
    word-wrap: true;
}

.task-skill {}

.task-name {
    padding-top: 2%;
}

.skill-cell {
    justify-self: left;
}

.progress-label {
    padding-top: 15px;
}
