<div class="signup">

    <md-layout>
        <md-layout md-gutter="1">
            <feed></feed>
        </md-layout>
        <md-layout md-align="center" md-gutter="1">

            <md-whiteframe v-if="stages.length === 0" md-elevation="14">
                <start></start>
            </md-whiteframe>

            <md-whiteframe v-if="stages.length === 1" md-elevation="14">
                <project></project>
            </md-whiteframe>

            <md-whiteframe v-if="stages.length === 2" md-elevation="14">
                <owner></owner>
            </md-whiteframe>

            <transition name="fade">
                <md-whiteframe v-if="stages.length === 3" md-elevation="14">
                    <team></team>
                </md-whiteframe>
            </transition>

        </md-layout>

        <md-layout md-gutter="1">
           dfgdfg <project-summary></project-summary>
        </md-layout>

    </md-layout>

</div>
