<div class="signup">

    <md-layout>
        <md-layout md-gutter>
            <feed></feed>
        </md-layout>
        <md-layout md-align="center" md-flex="50">

            <md-whiteframe v-if="stages.length === 0" md-elevation="14">
                <start></start>
            </md-whiteframe>

            <md-whiteframe v-if="stages.length === 1" md-elevation="14">
                <project></project>
            </md-whiteframe>

            <md-whiteframe v-if="stages.length === 2" md-elevation="14">
                <owner></owner>
            </md-whiteframe>

            <transition name="fade">
                <md-whiteframe v-if="stages.length === 3" md-elevation="14">
                    <team></team>
                </md-whiteframe>
            </transition>

        </md-layout>

        <md-layout>
            <project-summary></project-summary>
        </md-layout>

    </md-layout>

    <md-layout>
        <div>&nbsp;</div>
    </md-layout>

    <md-layout v-if="stages.length === 3" md-align="center">
        <md-layout md-flex="20">
            <div v-on:click="navigateTo('dod')">
                <md-button class="md-raised md-primary">Define of done</md-button>
            </div>
        </md-layout>
        <md-layout md-flex="20">
            <div v-on:click="next(done=true)">
                <md-button class="md-raised md-primary">Enter stories</md-button>
            </div>
        </md-layout>
    </md-layout>


</div>
