<div id="session.task">
    <md-layout>
        <md-card>
            <md-card-content>
                <p>Create a task from a story in backlog, skills are mandatory as
                    is estimated time</br>
                    NB. If a user gets assigned to as task and they should have a skill match -</br>
                    maybe auto update aspirations if skills missing</p>
                <h5>Task for</h5>
                <h6>{{session.story.title}}</h6>
                <h6>{{session.story.descWant}}</h6>
                <h6>{{session.sprint.name}}</h6>
                <br>
                <md-input-container>
                    <label>Name</label>
                    <md-input v-on:change="storeName(session.task.name)" id="name" required placeholder="Task Name"
                        v-model="session.task.name" tabindex="0"></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <md-textarea v-on:change="storeDesc(session.task.desc)" id="desc" required placeholder="Task Description"
                        v-model="session.task.desc"></md-textarea>
                </md-input-container>
                <md-input-container>
                    <label>Time estimations</label>
                    <md-input type=number v-on:change="storeEst(session.task.est)" id="est" required
                        placeholder="Task Time estimation" v-model="session.task.est"></md-input>
                </md-input-container>
                <md-input-container>
                    <label for="taskSkill">What skill does this task need?</label>
                    <md-select v-on:change="storeSkill(session.task.skill)" required name="taskSkill"
                        id="taskSkill" v-model="session.task.skill">
                        <md-option v-for="skill in skills" v-bind:value="skill"> {{skill}}</md-option>
                        <md-input-container>
                            <md-input v-model="newSkill"></md-input>
                            <div v-on:click="addSkill">
                                <md-button class="md-raised md-primary">+</md-button>
                            </div>
                        </md-input-container>
                    </md-select>
                </md-input-container>

                <md-card-actions>
                    <div v-on:click="exit()">
                        <md-button md-align="start" class="md-raised md-primary">
                            Return
                        </md-button>
                    </div>


                    <md-button v-on:mouseover="whatsNeeded(session.task.est)" align="end" class="md-raised md-primary"
                        :disabled="!session.task.valid">
                        <div v-on:click="postTask(session.task)">Add Task</div>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-layout>
</div>
