<div id=plan>
    <md-layout md-gutter>
    </md-layout>
    <md-layout v-if='session.loaded' md-gutter>

        <md-layout>
        </md-layout>
        <md-layout>
            <backlog></backlog>
            Wonder if it can be like tmux moving from section to section with zoom ?
        </md-layout>
        <md-layout>
        </md-layout>
        <md-layout md-flex="50">
            <sprint-backlog v-if="session.planState === 'sprintSelect'"></sprint-backlog>
            <sprint-create  v-if="session.planState === 'sprintCreate'"></sprint-create>
            <task           v-if="session.planState === 'task'"></task>
            <sprint         v-if="session.planState === 'sprint'"></sprint>
        </md-layout>

    </md-layout>
</div>
