<div class="hours">
    <div v-for="(dayHours, hoursIndex) in days">
        <md-layout md-align="center">
            <h2>{{dayHours.name}}</h2>
            <md-layout md-flex="100">
                <md-button v-for="(hour,i) in dayHours.day" :key="hour.name" v-bind:id="i+'-amToggle'">
                    <div v-on:click="toggleDay(hoursIndex,i)" v-bind:class="{ pressed: hour.on}">{{hour.name}}</div>
                </md-button>
                <md-button v-for="(hour,i) in dayHours.night" :key="hour.name" v-bind:id="i+'-pmToggle'" v-on:click="toggleNight(hoursIndex,i)">
                    <div v-bind:class="{ pressed: hour.on}">{{hour.name}}</div>
                </md-button>
            </md-layout>
        </md-layout>
    </div>
</div>
