<div class="hours">
    <h1>What are your normal hours?</h1>
    <div v-for="(dayHours, i) in session.user.hours">
        <md-layout md-align="center">
            <md-layout md-flex="60">{{dayHours.name}}
                <md-input v-bind:id="i+'-from'" placeholder="From" v-model="dayHours.from" />
                <md-input v-bind:id="i+'-to'" placeholder="To" v-model="dayHours.to" />
            </md-layout>
            <md-layout md-flex="20">
                <md-button class="md-raised " id="changeButton">
                    <i v-on:click="state = change(i,dayHours)" class="fa fa-minus-square-o" aria-hidden="true"></i>
                </md-button>
            </md-layout>
        </md-layout>
    </div>
</div>
