<div class="list">
    <md-card>
        <md-card-content>
            <label>List</label>
            <md-select (change)="listID = listNo">
                <md-option v-for="(list,listNo) in session.project.stories">{{list.name}}</md-option>
            </md-select>
        </md-card-content>
        <md-card-content>
            <md-card v-on:click="editStory(story)" v-blind:class="story.colour" v-for="(story,c) in session.project.stories[listID].items.slice().reverse()">
                <md-card-title>{{session.project.stories[listID].items.length-c}}. {{story.title}}</md-card-title>
                <div>
                    As {{story.descAs}}, I want {{story.descWant}}, so that {{story.descThat}}
                </div>
                <br>
                <md-card-content v-for="ac in story.acs">
                    <i>{{i+1}}. {{ac.descWhen}} {{ac.descDo}} {{ac.descExpect}}</i>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-button v-on:click="editStory(story)" color="primary">EDIT</button>
                    <button md-button v-on:click="removeStory(story)" color="primary">DELETE</button>
                    <button md-button v-on:click="breakStory(story)" color="primary">BREAK DOWN</button>
                </md-card-actions>
            </md-card>
        </md-card-content>
</div>
