<div id="backlog">
    <md-card-content v-if="project.stories.length > 0">
        <label>The Backlog</label>
        <md-card>
            <md-layout md-align="end" md-column md-gutter>
                <md-layout v-for="(story,c) in project.stories" :key="story">
                    <div v-if="c === 0">
                        <md-button class="md-toggle">
                        </md-button>
                    </div>
                    <div v-else v-on:click="up(c)">
                        <md-button>
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </md-button>
                    </div>

                    <div v-on:click="selectStory(c)">
                        <md-button id="radioStory">
                            {{c+1}}. {{story.title}}
                        </md-button>
                        <md-button align="end" class="md-raised md-primary" :disabled="session.sprintIndex === -1">
                            <div v-on:click="addToSprint(session.task)">Add to Sprint</div>
                        </md-button>

                    </div>
                    </br>
                    <div v-for="(task,t) in story.tasks" :key="task">
                        <div v-on:click="selectTask(c,task)">
                            <md-button id="radioStory">
                                {{t}}.{{task.name}}
                            </md-button>
                            <md-button align="end" class="md-raised md-primary" :disabled="session.sprintIndex === -1">
                                <div v-on:click="addToSprint(session.task)">Add to Sprint</div>
                            </md-button>

                        </div>
                    </div>

                    <div v-if="c+1 < project.stories.length" v-on:click="down(c)">
                        <md-button>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </md-button>
                    </div>
                    <div v-else v-on:click="down(c)">
                        <md-button class="md-toggle">
                        </md-button>
                    </div>

                </md-layout>
            </md-layout>
        </md-card>
    </md-card-content>
</div>
