<md-card md-with-hover>

    <md-card-header>
        <div class="md-title">
            <h5>Project details</h5></div>
        <div class="md-subhead">Few project details</div>
    </md-card-header>

    <h6 v-if="error" class="error">{{ error }}</h6>
    <h6 v-if="session.error" class="error"> {{ session.error }}</h6>

    <md-card-content md-ratio="1:3">
        <form v-on:keyup.enter="error = project(projectName)">
            <md-input-container>
                <label>What is the project called</label>
                <md-input id="projectName" v-model="projectName" placeholder="Project name"></md-input>
                <label>Project Description</label>
                <md-input id="projectDesc" v-model="projectDesc" placeholder="Project description"></md-input>
            </md-input-container>
        </form>
    </md-card-content>

    <md-card-actions>
        <div v-on:click="error = project(projectName, projectDesc)">
            <md-button class="md-raised md-primary">Next</md-button>
        </div>
    </md-card-actions>

</md-card>
