<div v-if="stages.length > 0" class="summary">
    <v-list>
        <v-list-title v-if="stages.length === 1">Summary </v-list-title>
        <v-list-title v-if="stages.length > 1">{{stages[1].name}} Summary </v-list-title>
        <v-subheader v-if="members.length > 0">
            <table v-if="members.length > 0">
                <table-header>
                    <table-row>
                        <table-head>Name</table-head>
                        <table-head tooltip="We'll send them an invite">Email</table-head>
                        <table-head>Role</table-head>
                    </table-row>
                </table-header>

                <table-body>
                    <table-row v-for="(position, index) in members" :key="index">
                        <table-cell>{{position.name}}</table-cell>
                        <table-cell>{{position.email}}</table-cell>
                        <table-cell>{{position.role}}</table-cell>
                    </table-row>
                </table-body>
            </table>
        </v-subheader>
    </v-list>
</div>
