<div class="tags">
    <md-card>
        <md-card-content>

            <label v-if="tags && tags.length > 0">Tags</label>
            <div>
                <div v-for="(tag, index) in tags">{{index+1}}. {{tag}}
                    <button type="button" v-on:click="removeTag(it)" md-mini-fab>
                            <md-icon class="md-24">-</md-icon>
                        </button>
                </div>
                <div>
                    <md-select>
                        <md-option selected></md-option>
                        <md-option v-for="tName in session.defaults.tags">{{tName}}</md-option>
                    </md-select>
                    <button type="button" v-on:click="addTag(newTag)" md-mini-fab><i class="material-icons" md-24>add</i>
                        </button>
                </div>
            </div>

        </md-card-content>
    </md-card>
</div>
