<div class="story-desc">
    <v-input-container>
        <label>What is the title of the story?</label>
        <v-input v-on:change="storeTitle(title)"   id="title" required placeholder="Story Title" v-model="title" tabindex="0"></v-input>
    </v-input-container>
    <v-input-container>
        <v-input-container>
            <label>As...</label>
            <v-textarea v-on:change="storeDesc(descAs,descWant,descThat)" id="descAs" required placeholder="As" v-model="descAs"></v-textarea>
        </v-input-container>
        <v-input-container>
            <label>I want...</label>
            <v-textarea  v-on:change="storeDesc(descAs,descWant,descThat)" id="descWant" required placeholder="I want" v-model="descWant"></v-textarea>
        </v-input-container>
        <v-input-container>
            <label>so that...</label>
            <v-textarea  v-on:change="storeDesc(descAs,descWant,descThat)" id="descThat" required placeholder="so that" v-model="descThat"></v-textarea>
        </v-input-container>
    </v-input-container>
</div>
