.red {
    background-color: red;
    color: black;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.black {
    color: yellow;
    background-color: black;
}

.green {
    background-color: green;
    color: black;
}

.gray {
    background-color: gray;
    color: yellow;
}

.brown {
    background-color: brown;
    color: black;
}

.unselected {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected {
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
}

