<md-layout v-if="session.user" md-align="center" md-flex="50">

    <h1 v-if="session.error" class="error">{{session.error}}</h1>
    <md-card md-with-hover>
        <md-card-header>
            <div class="md-subhead">Details</div>
        </md-card-header>

        <h2 v-if="session.error" class="error"> {{ session.error }}</h2>
        <md-card-content md-ratio="1:3">
            <name></name>
            <div class="md-subhead">Your skills</div>
            <skills></skills>
            <div class="md-subhead">Normal working hours</div>
            <hours></hours>
        </md-card-content>

    </md-card>

</md-layout>
