<div class="acceptance">
    <md-card>
        <md-card-content>
            <label v-if="arcs && acs.length > 0">Acceptance Criteria</label>
            <label v-if="needAcs">This story need acceptance criteria</label>
            <div>
                <div v-for="(ac, i) in acs">{{i+1}}. {{ac}}
                    <button type="button" v-on:click="removeCriteria(i)" md-mini-fab>
                            <md-icon class="md-24">-</md-icon>
                        </button>
                </div>
                <div>
                    <md-input #acceptance id="newAC" v-on:keyup.tab="tab($event)" class="ac-input"
                        v:on:change="checkAC()" placeholder="Acceptance Criteria" v-model="newAC">
                    </md-input>
                    <button type="button" id="acButton" v-on:click="addCriteria(newAc)" md-mini-fab><i class="material-icons" md-24>add</i>
                        </button>
                </div>
            </div>
            <br>
        </md-card-content>
    </md-card>
</div>
