<md-layout md-align="center" md-flex="50">

    <md-card md-with-hover>
        <md-card-header>
            <div class="md-title">
                <h1>Log in</h1></div>
            <div class="md-subhead">Get a project up and running</div>
        </md-card-header>

        <h2 v-if="error" class="error">{{ error }}</h2>
        <h2 v-if="session.error" class="error"> {{ session.error }}</h2>
        <md-card-content md-ratio="1:3">
            <form v-on:keyup.enter="error = createUser(email,pw,error)">
                <md-input-container>
                    <label>What is your email address?</label>
                    <md-input tabindex="0" type="email" autofocus id="email" v-model="email" placeholder="Email"></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <md-input id="password" type="password" v-model="pw"></md-input>
                </md-input-container>
            </form>
        </md-card-content>

        <md-card-actions>
            <router-link to="/start">
                <md-button class="md-raised md-primary">No Login? Quick Start</md-button>
            </router-link>
            <div v-on:click="error = login(email,pw)" v-on:keyup.enter="error = createUser(email,pw)">
                <md-button class="md-raised md-primary">Go</md-button>
            </div>
        </md-card-actions>

    </md-card>

</md-layout>
