<div class="signup">

    <div>
        <div >
            <feed></feed>
        </div>
        <div align="center" flex="50">

            <whiteframe v-if="stages.length === 0" elevation="14">
                <start></start>
            </whiteframe>

            <whiteframe v-if="stages.length === 1" elevation="14">
                <project></project>
            </whiteframe>

            <whiteframe v-if="stages.length === 2" elevation="14">
                <owner></owner>
            </whiteframe>

            <transition name="fade">
                <whiteframe v-if="stages.length === 3" elevation="14">
                    <team></team>
                </whiteframe>
            </transition>

        </div>

        <div>
            <project-summary></project-summary>
        </div>

    </div>

    <div>
        <div>&nbsp;</div>
    </div>

    <div v-if="stages.length === 3" align="center">
        <div flex="20">
            <router-link to="/done">
                <button class="raised primary">Define of done</button>
            </router-link>
        </div>
        <div flex="20">
            <router-link to="/story">
                <button class="raised primary">Enter stories</button>
            </router-link>
        </div>
    </div>


</div>
