<div gutter="1">
    <card with-hover>

        <card-header>
            <div class="title">
                <h6>About you</h6></div>
            <div class="subhead"></div>
        </card-header>

        <card-content ratio="1:3">
            <form v-on:keyup.enter="error = owner(ownerName,ownerRole)">
                <input-container>
                    <label>What is your name?</label>
                    <input tabindex="0" autofocus id='ownername' v-model="ownerName" placeholder="name"></input>
                </input-container>

                <input-container>
                    <label for="ownerRole">What is your role in the project</label>
                    <select name="ownerRole" id="ownerRole" v-model="ownerRole">
                        <option v-for="role in roles" v-bind:value="role"> {{role}}</option>
                    </select>
                </input-container>
            </form>
        </card-content>

        <card-actions>
            <div v-on:click="error = owner(ownerName,ownerRole)">
                <button class="raised primary">Next</button>
            </div>


        </card-actions>

    </card>
    </whiteframe>

</div>
