<md-layout md-gutter="1">
    <md-card md-with-hover>

        <md-card-header>
            <div class="md-title">
                <h1>About you</h1></div>
            <div class="md-subhead"></div>
        </md-card-header>

        <md-card-content md-ratio="1:3">
            <form v-on:keyup.enter="error = owner(ownerName,ownerRole)">
                <md-input-container>
                    <label>What is your name?</label>
                    <md-input tabindex="0" autofocus id='ownername' v-model="ownerName" placeholder="name"></md-input>
                </md-input-container>

                <md-input-container>
                    <label for="ownerRole">What is your role in the project</label>
                    <md-select name="ownerRole" id="ownerRole" v-model="ownerRole">
                        <md-option v-for="role in roles" v-bind:value="role"> {{role}}</md-option>
                    </md-select>
                </md-input-container>
            </form>
        </md-card-content>

        <md-card-actions>
            <div v-on:click="error = owner(ownerName,ownerRole)">
                <md-button class="md-raised md-primary">Next</md-button>
            </div>


        </md-card-actions>

    </md-card>
    </md-whiteframe>

</md-layout>
