<div v-if='session.loaded' class="story">
    <v-layout>
        <v-layout v-align="center" v-flex="80">
            <v-card>
                <v-container>
                    <h6 v-if="story.error">{{story.error}}</h6>
                    <story-desc></story-desc>
                    <acceptance></acceptance>
                    <tags></tags>
                    <colours></colours>
                    <br>
                    <v-card-actions>
                        <!--
                        <v-button align="start" class="v-raised v-primary" v-on:click="clearStory()">Clear Story</v-button>
                            -->
                        <v-button v-on:mouseover="whatsNeeded(story)" align="end" class="v-raised v-primary"
                            :disabled="!story.valid">
                            <div v-on:click="postStory(story)">Add Story</div>
                        </v-button>
                    </v-card-actions>
                </v-container>
            </v-card>
        </v-layout>
        <v-layout v-gutter>
            <feed></feed>
        </v-layout>
    </v-layout>

    <list></list>

</div>
