<div id="sprint">
    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-toolbar class="teal white--text" dark>
                    <v-toolbar-title>Sprints</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-list>
                    <v-list-group v-for="(sprint,c) in session.project.sprints" :key="sprint">
                        <v-list-tile slot="item">
                            <v-list-tile-action>
                                <!--      <v-icon>{{ item.action }}</v-icon> -->
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{c+1}}. {{sprint.name}}</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-icon>keyboard_arrow_down</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-list-tile v-for="(tasks,t) in sprint.tasks" :key="sprint">
                            <v-list-tile-content>
                                <div v-on:click="selectTask(c,task)">
                                    <v-list-tile-title> {{t}}.{{task.name}} </v-list-tile-title>
                                </div>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <!-- <v-icon>{{ subItem.action }}</v-icon> -->
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list-group>
                </v-list>
            </v-card>
        </v-flex>
    </v-layout>
</div>
