<div id="session.sprint">
    <div>
        <card>
            <card-content>
                <h6>Sprint</h6>
                <br>
                <input-container>
                        <label>Goal</label>
                    <input v-on:change="storeName(sprint.name)" id="name" required placeholder="Sprint Name"
                        v-model="sprint.name" tabindex="0"></input>
                </input-container>
                <input-container>
                    <label>Days</label>
                    <input  v-on:change="storeDays(sprint.from)" id="days" required placeholder="How many days"
                        v-model="sprint.days"></input>
                </input-container>
                <card-actions>
                    <div v-on:click="exit()">
                        <button :disabled="!session.project.sprints || session.project.sprints.length === 0" align="start" class="raised primary">
                            Return
                        </button>
                    </div>

                    <button align="end" class="raised primary"
                        :disabled="!session.sprint.valid">
                        <div v-on:click="postSprint(session.sprint)">Add Sprint</div>
                    </button>
                </card-actions>
            </card-content>
        </card>
    </div>
</div>
