<div id="session.sprint">
    <md-layout>
        <md-card>
            <md-card-content>
                <h6>Sprint</h6>
                <br>
                <md-input-container>
                        <label>Goal</label>
                    <md-input v-on:change="storeName(sprint.name)" id="name" required placeholder="Sprint Name"
                        v-model="sprint.name" tabindex="0"></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Days</label>
                    <md-input  v-on:change="storeDays(sprint.from)" id="days" required placeholder="How many days"
                        v-model="sprint.days"></md-input>
                </md-input-container>
                <md-card-actions>
                    <div v-on:click="exit()">
                        <md-button :disabled="!session.project.sprints || session.project.sprints.length === 0" md-align="start" class="md-raised md-primary">
                            Return
                        </md-button>
                    </div>

                    <md-button align="end" class="md-raised md-primary"
                        :disabled="!session.sprint.valid">
                        <div v-on:click="postSprint(session.sprint)">Add Sprint</div>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-layout>
</div>
