<v-layout row id="selectSprint">
    <v-flex xs12 sm6 offset-sm3>
        <v-card>
            <v-toolbar class="teal white--text" dark>
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>Sprints</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon>more_vert</v-icon>
                </v-btn>
            </v-toolbar>
            <v-list>
                <v-list-group v-for="(story,c) in sprint.list" :key="story.id">
                    <v-list-tile slot="item">
                        <v-list-tile-action>
                            <!--  <v-icon>{{ item.action }}</v-icon> -->
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{c+1}}. {{ story.title | truncate }}</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_down</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-list-tile class="md-inset" v-for="(task,t) in story.tasks" :key="task">
                         <v-list-tile-content>
                            <v-list-tile-title> {{t}}.{{task.name}} [{{task.skill}}]</v-list-tile-title>
                            <v-list-tile-title> buttone</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-content>
                        </v-list-tile-content>
                        <v-list-tile-action>
                        <v-list-tile-action-content>
                                sdfsdfsdf
                        </v-list-tile-action-content>
                            <!--                <v-icon>{{ subItem.action }}</v-icon> -->
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-list-tile v-on:click="alert('HELL yes')">
                        <v-button v-on:click="alert('HELL yes')">
                            SELECT
                        </v-button>
                    </v-list-tile>
                </v-list-group>
            </v-list>
        </v-card>
    </v-flex>
</v-layout>
