<v-layout row>
    <v-flex xs12 sm6 offset-sm3>

        <v-card>
            <v-toolbar v-on:click="toggleNameEdit()" class="teal white--text" dark>
                    <v-toolbar-title v-if="!editName">{{sprint.name}} Sprint [{{sprint.days}} days]</v-toolbar-title>
                <v-toolbar-title v-if="editName">INPUT</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>


            <v-list>
                <v-list-group v-for="(story, c) in sprint.list" :key="story.id" no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title v-on:click="">{{c+1}}. {{ story.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(task,t) in story.tasks" :key="task.name" @click="">
                        <v-list-tile-content>
                            <v-list-tile-title> {{t+1}}.{{task.name}} [{{task.skill}}]
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-card-actions>
                        <v-btn flat color="orange" v-on:click="removeFromSprint (story, c)">Remove</v-btn>
                    </v-card-actions>
                </v-list-group>
            </v-list>

            <v-card-actions v-if="sprint.list.length >0">
                <v-btn v-if="!editName" flat color="orange">START</v-btn>
                <v-btn v-on:click="toggleNameEdit()" flat color="orange">NEW</v-btn>
            </v-card-actions>
            <v-card-actions v-else>
                <v-btn v-on:click="toggleNameEdit()" flat color="orange">Update</v-btn>
            </v-card-actions>
        </v-card>

    </v-flex>
</v-layout>
